.form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_header_left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form_image{
    height: 45px;
    width: 40px;
}

.form_name{
    border: none;
    outline: none;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24;
    margin-left: 15px;
    color: #202124;
    width: 120px;
}

.form_header_span{
    font-size: 12px;
    font-weight: 600;
}